<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Третье задание</title>
  </head>
  <body>
    <h2>Форма отправки сообщения</h2>
    <form method="post" action="/api/third_task/input_email/">
      {% csrf_token %}
      <p>
        Тема:<br />
        <input name="subject" />
      </p>
      <p>
        Кому:<br />
        <input name="recipient" type="email" />
      </p>
      <p>
        Сообщение:<br />
        <textarea name="message"></textarea>
      </p>
      <input type="submit" value="Send" />
    </form>
  </body>
</html>
